h1, h2, h3, h4 {
    font-family: 'Audiowide', cursive;
}
header h1, h2 {
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
}
.jumbotron {
    margin: 0;
    padding : 30px;
    background-image: linear-gradient(to left,#ffffff,#8e9ee8, #425fe3 )
}
h3, h4, h5 {
    color: rgb(47, 47, 214);
}